.homeLayout{
  background-color: #FFF9F9;
  box-sizing: border-box;
  padding: 24px;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.headerbar{
  display: flex;
  gap:24px;
  justify-content: flex-end;
}

.contentContainer{
  display: flex;
  align-items: center;
  z-index: 4;
  position: relative;
}

.secondaryPart{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:16px;
}

.descContainer{
  display: flex;
  flex-direction: column;
}

.textContainer{
  margin-top: -80px;
  flex:1;
}

.siteTitle{
  color: #1A3871;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
}

.andSign{
  color:#F29495;
  font-size: 110px;
  font-weight:500;
}

.siteDesc{
  color:#2D2929;
  font-size: 40px;
  font-weight:400;
  letter-spacing: 8px;
}

.imageContainer{
  flex:0.8;
  display: flex;
  justify-content: flex-end;
  scale:0.9;
  margin-right: -64px;
}

.vave{
  position: fixed;
  left: 0;
  bottom: -40px;
  z-index: 2;
}

.textButton{
  color:#F29495;
  font-weight: 500;
  cursor: pointer;
}

.modal{
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:16px
}